.Rproj.user
.Rhistory
.Rapp.history
.RData
*.Rprofile
*.pdf
*.docx
*.html
*.csv
*.Rproj
*.sqlite3
*.sqlite
*.gz
*.rds
*.zip
R/variants.R
.DS_Store
data/
inst/doc/images
inst/doc/CCmouse
*.jpg
*.png

inst/doc
